IT[[:space:]]TELEKOM/4[[:space:]]ročník/Počítačové[[:space:]]sítě[[:space:]]4[[:space:]]ročník/2SwitchingRoutingAndWirelessEssentials.zip filter=lfs diff=lfs merge=lfs -text
IT[[:space:]]TELEKOM/4[[:space:]]ročník/Počítačová[[:space:]]grafika[[:space:]]4[[:space:]]ročník/Photoshop/Architekt_-_Domys.psd filter=lfs diff=lfs merge=lfs -text
